body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

#top-banner {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;

}

.half-width {
    width: 50%;
    padding-left: 7%;
}

.half-width img {
    width: 93%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(247, 166, 158), tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

#Dream-big {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}